/*
Student Name: Charles Harris
File Name: styles.css
Date: 9/28/2021
 */

/*Css Reset*/
body, header, nav, main, footer, img, h1, h3
{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
body
{
    background-color: #f6eee4;
}
img
{
    display: block;
    max-width:100%;
}

/*Style rules for navigation area*/
nav
{
    background-color: #2a1f14;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav li
{
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, arial, sans-serif;
    font-weight: bold;
}
nav li a
{
    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
